doctype html
html(lang="en")
  head
    title= "Working Yet?"
    
    // Link to Bootstrap
    link(href="" type="stylesheet")
  body
    .container-fluid
      include includes/header.pug
    
    p Trying again and again!